
img {
    width: 100%;
}

img.logo {
    width: 4em;
}

img.page-img {
    width: 100%;
}

.login {
    margin: 0px 5px;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: black;
}

.btn-center {
    margin: 1em auto;
    display: flex;
}

.content-card {
    margin: 5px;
    border: 1px none;
    border-radius: 10px;
    box-shadow: 4px 6px 8px #d0cbcb;
    padding: 5%;
}

.sliderhead {
    width: 100%;
    overflow: hidden;
}

.sliderhead ul {
    display: flex;
    animation: cambio 10s infinite alternate linear;
    width: 400%;
}

.sliderhead li  {
    width: 100%;
    list-style: none;
}

.sliderhead img {
    width: 100%;
    height: min-content;
    margin: 0px auto;
}

.slide-img-container {
    height: 15em;
    display: flex;
}

@keyframes cambio {

    0%{margin-left: 0;}
    20%{margin-left: 0;}

    25%{margin-left: -100%;}
    45%{margin-left: -100%;}

    50%{margin-left: -200%;}
    70%{margin-left: -200%;}

    75%{margin-left: -300%;}
    100%{margin-left: -300%;}
    
}

.slider{
    width: 100%;
    overflow: hidden;
}

.slider ul {
    display: flex;
    animation: cambio 10s infinite alternate linear;
    width: 400%;
}

.slider li  {
    width: 100%;
    list-style: none;
}

.slider img {
    width: 50%;
    height: min-content;
    margin: 0px auto;
}

.slide-img-container {
    height: 15em;
    display: flex;
}

@keyframes cambio {

    0%{margin-left: 0;}
    20%{margin-left: 0;}

    25%{margin-left: -100%;}
    45%{margin-left: -100%;}

    50%{margin-left: -200%;}
    70%{margin-left: -200%;}

    75%{margin-left: -300%;}
    100%{margin-left: -300%;}
    
}



.grid-container {
    /*display: grid;*/
    grid-template-rows: auto;
    grid-template-columns: auto;
    grid-gap: 5px;
    display: flex;
}

.grid-container-1 {
    display: grid;
    grid-template-rows: 50%;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-gap: 5px;
}



.slider-buttons {
    width: 100%;
    height: 350px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: relative;
    list-style: none;
}
.slider-buttons div.card-slider {
    position: absolute;
    top: 0;
    left: 0;
    height: 80%;
    margin: 1em 5%;
    opacity: 0;
    transition: all 0.7s;
}

div.card-slider img {
    height: 180px;
}
.info-detail{
    height: 200px;
    width: 100%;
}
.info-detail label{
    font-weight: 600;
    color: chocolate;
    font-size: 16px;
    float: left;
}
.info-detail p {
    font-size: 14px;
    float: left;
    width: 100%;
    text-align: left;
}
.slider-buttons input[type="radio"]{
    position: relative;
    z-index: 50;
    margin: 10px;
}

.slider-buttons input[type="radio"]:checked ~ div.card-slider {
    opacity: 1;
}
.row-project .slider-buttons li{
    list-style: none;
}